{
  "extends": ["stylelint-config-twbs-bootstrap"],
  "rules":
    {
      "custom-property-no-missing-var-function": null,
      "declaration-no-important": null,
      "selector-no-qualifying-type": null,
    },
}
